<?xml version="1.0"?>

  <root xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:macro name="ar_camera" params="suffix parent *origin">
  
    <joint name="${parent}_head_camera_${suffix}_joint" type="fixed">
      <xacro:insert_block name="origin" />
      <parent link="${parent}" />
      <child link="head_camera_${suffix}" />
    </joint>

    <link name="head_camera_${suffix}"/>
    
  </xacro:macro>
</root>
