<!--
   Author: Russell Toris, Worcester Polytechnic Institute
  Version: August 21, 2014
-->

<launch>
  <!-- Camera Parameters -->
  <arg name="node_name_prefix" default="ceiling_cam_" />
  <arg name="video_device_prefix" default="/dev/video" />
  <arg name="image_width" default="1920" />
  <arg name="image_height" default="1080" />
  <arg name="pixel_format" default="mjpeg" />
  <arg name="io_method" default="mmap" />
  <arg name="camera_info_url_prefix" default="file://$(find rail_ceiling)/config/camera_info/ceiling_cam_" />
  <arg name="camera_frame_id_prefix" default="$(arg node_name_prefix)" />
  <arg name="camera_name_prefix" default="$(arg camera_frame_id_prefix)" />
  <!-- currently removed because of a bug in usb_cam -->
  <!-- <arg name="framerate" default="5" /> -->
  <arg name="autofocus" default="false" />
  <arg name="focus" default="34" />
  <arg name="autoexposure" default="false" />
  <arg name="exposure" default="113" />
  <arg name="brightness" default="100" />
  <arg name="contrast" default="32" />
  <arg name="saturation" default="62" />
  <arg name="sharpness" default="150" />
  <arg name="auto_white_balance" default="false" />
  <arg name="white_balance" default="3500" />

  <!-- Assumes 5 Cameras -->
  <node pkg="usb_cam" name="$(arg node_name_prefix)0" type="usb_cam_node" output="screen">
    <param name="video_device" value="$(arg video_device_prefix)0" />
    <param name="image_width" value="$(arg image_width)" />
    <param name="image_height" value="$(arg image_height)" />
    <param name="pixel_format" value="$(arg pixel_format)"/>
    <param name="io_method" value="$(arg io_method)" />
    <param name="camera_info_url" value="$(arg camera_info_url_prefix)0.yaml" />
    <param name="camera_frame_id" value="$(arg camera_frame_id_prefix)0" />
    <param name="camera_name" value="$(arg camera_frame_id_prefix)0" />
    <!-- currently removed because of a bug in usb_cam -->
    <!--<param name="framerate" value="$(arg framerate)" />-->
    <param name="autofocus" value="$(arg autofocus)" />
    <param name="focus" value="$(arg focus)" />
    <param name="autoexposure" value="$(arg autoexposure)" />
    <param name="exposure" value="$(arg exposure)" />
    <param name="brightness" value="$(arg brightness)" />
    <param name="contrast" value="$(arg contrast)" />
    <param name="saturation" value="$(arg saturation)" />
    <param name="sharpness" value="$(arg sharpness)" />
    <param name="auto_white_balance" value="$(arg auto_white_balance)" />
    <param name="white_balance" value="$(arg white_balance)" />
  </node>
  <node pkg="usb_cam" name="$(arg node_name_prefix)1" type="usb_cam_node" output="screen">
    <param name="video_device" value="$(arg video_device_prefix)1" />
    <param name="image_width" value="$(arg image_width)" />
    <param name="image_height" value="$(arg image_height)" />
    <param name="pixel_format" value="$(arg pixel_format)"/>
    <param name="io_method" value="$(arg io_method)" />
    <param name="camera_info_url" value="$(arg camera_info_url_prefix)1.yaml" />
    <param name="camera_frame_id" value="$(arg camera_frame_id_prefix)1" />
    <param name="camera_name" value="$(arg camera_frame_id_prefix)1" />
    <param name="autofocus" value="$(arg autofocus)" />
    <param name="focus" value="$(arg focus)" />
    <param name="autoexposure" value="$(arg autoexposure)" />
    <param name="exposure" value="$(arg exposure)" />
    <param name="brightness" value="$(arg brightness)" />
    <param name="contrast" value="$(arg contrast)" />
    <param name="saturation" value="$(arg saturation)" />
    <param name="sharpness" value="$(arg sharpness)" />
    <param name="auto_white_balance" value="$(arg auto_white_balance)" />
    <param name="white_balance" value="$(arg white_balance)" />
  </node>
  <node pkg="usb_cam" name="$(arg node_name_prefix)2" type="usb_cam_node" output="screen">
    <param name="video_device" value="$(arg video_device_prefix)2" />
    <param name="image_width" value="$(arg image_width)" />
    <param name="image_height" value="$(arg image_height)" />
    <param name="pixel_format" value="$(arg pixel_format)"/>
    <param name="io_method" value="$(arg io_method)" />
    <param name="camera_info_url" value="$(arg camera_info_url_prefix)2.yaml" />
    <param name="camera_frame_id" value="$(arg camera_frame_id_prefix)2" />
    <param name="camera_name" value="$(arg camera_frame_id_prefix)2" />
    <param name="autofocus" value="$(arg autofocus)" />
    <param name="focus" value="$(arg focus)" />
    <param name="autoexposure" value="$(arg autoexposure)" />
    <param name="exposure" value="$(arg exposure)" />
    <param name="brightness" value="$(arg brightness)" />
    <param name="contrast" value="$(arg contrast)" />
    <param name="saturation" value="$(arg saturation)" />
    <param name="sharpness" value="$(arg sharpness)" />
    <param name="auto_white_balance" value="$(arg auto_white_balance)" />
    <param name="white_balance" value="$(arg white_balance)" />
  </node>
  <node pkg="usb_cam" name="$(arg node_name_prefix)3" type="usb_cam_node" output="screen">
    <param name="video_device" value="$(arg video_device_prefix)3" />
    <param name="image_width" value="$(arg image_width)" />
    <param name="image_height" value="$(arg image_height)" />
    <param name="pixel_format" value="$(arg pixel_format)"/>
    <param name="io_method" value="$(arg io_method)" />
    <param name="camera_info_url" value="$(arg camera_info_url_prefix)3.yaml" />
    <param name="camera_frame_id" value="$(arg camera_frame_id_prefix)3" />
    <param name="camera_name" value="$(arg camera_frame_id_prefix)3" />
    <param name="autofocus" value="$(arg autofocus)" />
    <param name="focus" value="$(arg focus)" />
    <param name="autoexposure" value="$(arg autoexposure)" />
    <param name="exposure" value="$(arg exposure)" />
    <param name="brightness" value="$(arg brightness)" />
    <param name="contrast" value="$(arg contrast)" />
    <param name="saturation" value="$(arg saturation)" />
    <param name="sharpness" value="$(arg sharpness)" />
    <param name="auto_white_balance" value="$(arg auto_white_balance)" />
    <param name="white_balance" value="$(arg white_balance)" />
  </node>
  <node pkg="usb_cam" name="$(arg node_name_prefix)4" type="usb_cam_node" output="screen">
    <param name="video_device" value="$(arg video_device_prefix)4" />
    <param name="image_width" value="$(arg image_width)" />
    <param name="image_height" value="$(arg image_height)" />
    <param name="pixel_format" value="$(arg pixel_format)"/>
    <param name="io_method" value="$(arg io_method)" />
    <param name="camera_info_url" value="$(arg camera_info_url_prefix)4.yaml" />
    <param name="camera_frame_id" value="$(arg camera_frame_id_prefix)4" />
    <param name="camera_name" value="$(arg camera_frame_id_prefix)4" />
    <param name="autofocus" value="$(arg autofocus)" />
    <param name="focus" value="$(arg focus)" />
    <param name="autoexposure" value="$(arg autoexposure)" />
    <param name="exposure" value="$(arg exposure)" />
    <param name="brightness" value="$(arg brightness)" />
    <param name="contrast" value="$(arg contrast)" />
    <param name="saturation" value="$(arg saturation)" />
    <param name="sharpness" value="$(arg sharpness)" />
    <param name="auto_white_balance" value="$(arg auto_white_balance)" />
    <param name="white_balance" value="$(arg white_balance)" />
  </node>
</launch>
